.ListItem {
  display: flex;
  height: 80px;
  border: 1px solid #B7C4CF;
  cursor: pointer;
}

.ListItem .photo {
  width: 30%;
  display: flex;
  justify-content: center;
  padding: 10px 5px;
}

.ListItem .photo img {
  border-radius: 10px;
}

.ListItem .info {
  width: 70%;
  padding: 20px 10px;
}

.ListItem .info .name {
  font-size: 18px;
}

.ListItem .info .distance {
  font-size: 12px;
}

.ListItem .info .open {
  display: none;
  position: absolute;
  margin-left: 175px;
  margin-top: -35px;
}

.ListItem .info:hover .open {
  display: inline;
}