.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
}

aside {
  width: 400px;
  height: 100vh;
}

section {
  width: calc(100% - 400px);
}

section .container {
  padding: 0px;
}

.modal-backdrop {
  width: calc(100% - 400px) !important;
  left: 400px !important;
}

.modal {
  width: calc(100% - 400px) !important;
  left: 400px !important;
}